/* Grid basics created with https://grid.layoutit.com/?id=RFyGCNz */
.container-grid {
  height: 1500px;
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr 1fr 0.6fr;
  grid-template-rows: 0.2fr 400px 400px 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header header"
    "controls track-view track-view track-view chart-side"
    "controls track-view track-view track-view chart-side"
    "chart-row chart-row chart-row chart-row chart-row"
    "chart-row2 chart-row2 chart-row2 chart-row2 chart-row2"
    "chart-row3 chart-row3 chart-row3 chart-row3 chart-row3";
}

.header { grid-area: header; }

.controls {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 3px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "."
    "."
    "."
    "."
    ".";
  grid-area: controls;
}

.track-view { grid-area: track-view; }

.chart-row {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 3px 3px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . .";
  grid-area: chart-row;
}

.chart-row2 {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 3px 3px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . .";
  grid-area: chart-row2;
}

.chart-row3 {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 3px 3px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . .";
  grid-area: chart-row3;
}

.chart-side {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    "."
    "."
    ".";
  grid-area: chart-side;
}

/* Background image to match up the track */
.track-view:before {
content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1007px;
    left: 1354px;
    z-index: -1;
    /* background: url(HockenheimringShort02.png) 0 0 no-repeat; */
    transform: rotate(-7.5deg) scale(3.45);
}